<footer class="footer_section mt-5">
  <div class="container">
    <div class="row m-0 p-0">
      <div
        class="col-xl-3 col-lg-3 col-md-6 col-sm-12 border_right d-flex align-items-center justify-content-center pt-5"
      >
        <div class="brand_logo_description me-3">
          <div class="footer_logo_container mb-3">
            <img
              src="../../../assets/brand_logo.png"
              class="object_cover"
              alt=""
            />
          </div>
          <p class="p-0 font_14 font_weight_400 mb-4 font_color_grey">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor.
          </p>
          <div
            class="email_address d-flex align-items-center fit_width ps-3 pe-3 pt-1 pb-1 border_30"
          >
            <input
              type="text"
              placeholder="your email address"
              class="email_input_bar font_14 font_weight_400"
            />
            <div
              class="send_icon background_color_blue rounded-circle d-flex align-items-center justify-content-center"
            >
              <i
                class="fa-solid fa-paper-plane font_16"
                style="color: white"
              ></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 border_right pt-5">
        <div class="ms-3">
          <p class="mb-5 p-0 font_20 font_weight_600 font_color_blue">
            GET IN TOUCH
          </p>
          <p class="p-0 font_16 font_weight_400 font_color_grey">Facebook</p>
          <p class="p-0 font_16 font_weight_400 font_color_grey">Instagram</p>
          <p class="p-0 font_16 font_weight_400 font_color_grey">Linkedin</p>
          <p class="p-0 font_16 font_weight_400 font_color_grey">Twitter</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 border_right pt-5">
        <div class="ms-3">
          <p class="mb-5 p-0 font_20 font_weight_600 font_color_blue">
            GET IN TOUCH
          </p>
          <p class="p-0 font_16 font_weight_400 font_color_grey">About us</p>
          <p class="p-0 font_16 font_weight_400 font_color_grey">Our Service</p>
          <p class="p-0 font_16 font_weight_400 font_color_grey">Newsroom</p>
          <p class="p-0 font_16 font_weight_400 font_color_grey">Events</p>
          <p class="p-0 font_16 font_weight_400 font_color_grey">Contact</p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 pt-5">
        <div class="ms-3">
          <p class="mb-5 p-0 font_20 font_weight_600 font_color_blue">
            FIND US
          </p>

          <p class="p-0 font_16 font_weight_400 font_color_grey">
            Address:
            <span class="font_color_black">
              No 23, Building, Chennai, Tamil Nadu 600026</span
            >
          </p>

          <p class="p-0 font_16 font_weight_400 font_color_grey">
            Phone: <span class="font_color_black">+91 86107 62639</span>
          </p>

          <p class="p-0 font_16 font_weight_400 font_color_grey">
            Email:
            <span class="font_color_black"> support &#64;tntaxsociety.com</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="copy _right d-flex justify-content-center align-items-center">
  <p class="m-0 p-4 font_16 font_weight_400">
    Copyright &copy; 2024 Tn Tax Society . All right reserved.
  </p>
</div>
